$theme-colors: (
  "theme": hsl(0, 0%, 13%),
  "background": hsl(0, 0%, 93%),
  "icon": hsl(99, 36%, 52%),
  "icon-background": hsl(241, 23%, 51%),
  "pane-background": hsl(0, 0%, 60%),
);

$button-colors: (
  "green": hsl(150, 100%, 45%),
  "red": hsl(0, 100%, 45%),
  "yellow": hsl(60, 100%, 45%),
  "blue": hsl(225, 55%, 45%),
);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font: 15px sans-serif;
  padding: 3px;
  background-color: map-get($theme-colors, "background");
}

.container {
  margin: 2px;
}

.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 6vw;
}

.btn {
  width: 47vw;
  height: 47vw;
  border-radius: 15px;
  margin-bottom: 12px; /* To compasate box shadow */
  cursor: pointer;
  -webkit-tap-highlight-color: hsla(0, 0%, 100%, 0);
}

@each $key, $val in $button-colors {
  .btn-#{$key} {
    background-image: radial-gradient(
      160px at 200px 10px,
      mix($val, white, 20%),
      $val
    );
    box-shadow: 0 12px mix($val, black);
  }

  .btn-#{$key}-on {
    background-image: radial-gradient(120px, mix($val, white, 20%), $val);
  }

  .btn-#{$key}-pressed {
    box-shadow: 0 5px mix($val, black);
    transform: translateY(7px);
  }
}

.pane {
  padding: 5px;
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  background: linear-gradient(
    45deg,
    map-get($theme-colors, "theme"),
    map-get($theme-colors, "pane-background")
  );
  box-shadow: 0 5px map-get($theme-colors, "theme");

  p {
    flex-grow: 1;
    font-size: 28px;
    color: map-get($theme-colors, "icon");
  }
}

#score {
  font-size: 35px;
  font-weight: bold;
  color: var(--icon-color);
  margin-left: 0.5em;
}

.controls {
  flex-grow: 2;
  color: map-get($theme-colors, "background");
}

input[type="range"],
button {
  cursor: pointer;
  width: 100%;
}

button {
  font-size: 18px;
  height: 50px;
  margin-bottom: 10px;
}

@media (min-width: 426px) {
  .btn {
    width: 200px;
    height: 200px;
  }

  .container {
    width: 426px;
    margin: 20px auto;
  }

  .row {
    margin-bottom: 26px;
  }

  button {
    height: 38px;
  }
}
